        <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Pokemon Name</th>
                    <th>Level</th>
                    <th>HP</th>
                    <th>Type</th>
                    <th>Evolves From</th>
                    <th>Rarity</th>
                  </tr>
                </thead>
                <tbody *ngFor="let pokemon of pokemons">
                  <tr>
                    <td><div class="image"><img src={{pokemon.imageUrlHiRes}} width="45px"/></div></td>
                    <td>
                        <a routerLink="/pokemons/{{pokemon.number}}">{{pokemon.name}}</a>
                    </td>
                    <td>{{pokemon.level}}</td>
                    <td>{{pokemon.hp}}</td>
                    <td>{{pokemon.types}}</td>
                    <td>{{pokemon.evolvesFrom}}</td>
                    <td>{{pokemon.rarity}}</td>
                  </tr>
                </tbody>
        </table>
