.topnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px green solid;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.poke-wall {
    border-radius: 1em;
}

.search-button {
    margin-top: 2em;
    width: 20em;
    background-color: green;
}

.search-input {
    margin-top: 1em;
    width: 20em;
    height: 2em;
    border-radius: 0.5em;
}

.dropdown {
    width: 20em;
    height: 2em;
    margin-top: 1em;
}

.image {
    width: 45%;
}

.description {
    width: 45%;
    border: 2px black solid;
    padding: 10px;
    border-radius: 5px;
    color: blue;
}